<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>vpc_las</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="./style/common.css">
    <link rel="stylesheet" type="text/css" href="./style/project_main.css">
    <link rel="stylesheet" type="text/css" href="./style/vpc.css">
</head>

<body>
    <div id="loading"></div>
    <div id="decoration"></div>
    <div id="app" resize="preset-2" v-cloak :class="{smallHoriz}">
        <div class='page app-page' v-if="page.LimitPage">
            <div class="content-head">
                <img id='logo' />
            </div>
            <div class="content-body limitstyle">
                <div class="las_btnarray horzbtns" :style="'visibility:' + showtype">
                    <button class="button_half" :class="{btnStayPressed: isLimit1}" @click="limit1BtnClick()">{{limit1Name | translate}}</button>
                    <button class="button_half" :class="{btnStayPressed: isLimit2}" @click="limit2BtnClick()">{{limit2Name | translate}}</button>
                </div>
                <div class="underlimit" v-show="isUnderLimit">
                    <div class="msgarea">
                        <div id="summary">
                            <p>{{LimitSummary | translate}}</p>
                        </div>
                        <div class="progressbar">
                            <circular-progress-bar :percent="Percentage"></circular-progress-bar>
                        </div>
                    </div>
                    <div class="amountarea largeamount">
                        <div id="remaining">
                            <p class="amountHeader">{{RemainingText | translate}}</p>
                            <p class="amount">{{RemainingAmount}}</p>
                        </div>
                        <div id="session">
                            <p class="amountHeader">{{SessionText | translate}}</p>
                            <p class="amount">{{SessionAmount}}</p>
                        </div>
                        <div id="total">
                            <p class="amountHeader">{{TotalText | translate}}</p>
                            <p class="amount">{{TotalAmount}}</p>
                        </div>
                    </div>
                </div>
                <div class="overlimit" v-show="isOverLimit">
                    <div class="msgarea">
                        <div id="summary">
                            <p>{{LimitSummary | translate}}</p>
                        </div>
                        <div class="vpcsquare">
                            <p>{{"LIMIT REACHED" | translate}}</p>
                        </div>
                    </div>
                    <div class="amountarea">
                        <div id="session">
                            <p class="amountHeader">{{SessionText | translate}}</p>
                            <p class="amount">{{SessionAmount}}</p>
                        </div>
                        <div id="exceellimit">
                            <p class="amountHeader">{{"Over limit" | translate}}</p>
                            <p class="amount">{{OverlimitAmount}}</p>
                        </div>
                    </div>
                </div>
                <div class="nolimit" v-show="isNoLimit">
                    <div class="nlarea">
                        <div id="summary">
                            <p>{{LimitSummary | translate}}</p>
                        </div>
                        <div id="session">
                            <p class="amountHeader">{{SessionText | translate}}</p>
                            <p class="amount">{{SessionAmount}}</p>
                        </div>
                        <div id="total">
                            <p class="amountHeader">{{TotalText | translate}}</p>
                            <p class="amount">{{TotalAmount}}</p>
                        </div>
                    </div>
                    <div class="no-limit-addition-info">
                        <p>{{"See more loss and time info" | translate}}</p>
                        <button class="learnBtn" @click="learnBtn()">{{"LEARN HOW" | translate}}</button>
                    </div>
                </div>
                <div class="notsetlimit" v-show="isNotSetAll"></div>
            </div>
            <div class="content-tail">
                <div class="las_btnarray">
                    <button class="button_half hide-btn" @click="hideBtn()">{{"HIDE" | translate}}</button>
                    <button class="button_half help-btn" @click="helpBtn()">{{"HELP" | translate}}</button>
                </div>
            </div>
        </div>
        <div class='page app-page' v-if="page.LimitHelp">
            <div class="content-head">
                <img id='logo' />
            </div>
            <div class="content-body">
                <div id="lasunderlimithelp" v-show="helpPage.UnderlimitHelpPage">
                    <div class="messageHeading">
                        <p>{{"YourPlay summary" | translate}}</p>
                    </div>
                    <div class="messageInfo">
                        <p>{{"YourPlay summary shows how much money you've lost and how much time you've spent playing within your set limits." | translate}}</p>
                        <p>{{"Press the money or time button to see this information." | translate}}</p>
                        <p>{{"You can change your limits at any kiosk or online at yourplay.com.au" | translate}}</p>
                    </div>
                </div>
                <div id="lasoverlimithelp" v-show="helpPage.OverlimitHelpPage">
                    <div class="messageHeading">
                        <p>{{"YourPlay Beyond Limits" | translate}}</p>
                    </div>
                    <div class="messageInfo">
                        <p>{{"YourPlay beyond limits shows you how much money you've lost and how much time you've spent playing beyond your set limits." | translate}}</p>
                        <p>{{"Press the money or time button to see this information." | translate}}</p>
                        <p>{{"You can change your limits at any kiosk or online at yourplay.com.au" | translate}}</p>
                    </div>
                </div>
                <div id="lastrackplayhelp" v-if="helpPage.TrackplayHelpPage">
                    <div class="messageHeading">
                        <p>{{"Track Play Summary" | translate}}</p>
                    </div>
                    <div class="messageInfo">
                        <p>{{"Track play summary shows you how much money you've lost and how much time you've spent playing during your current session." | translate}}</p>
                        <p>{{"It also shows your total money lost and time spent today." | translate}}</p>
                        <p>{{"You can set money and or time limits at any kiosk or online at yourplay.com.au" | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="content-tail">
                <button @click="helpcancelclicked()">{{"BACK" | translate}}</button>
            </div>
        </div>
        <div class='page app-page' v-if="page.NoLlimitHelp1">
            <div class="content-head">
                <img id='logo' />
            </div>
            <div class="content-body">
                <div class="lashelpnolimit1">
                    <div class="laslearnHowText">
                        <div class="messageHeading">
                            <p>{{"Set limits and track your play" | translate}}</p>
                        </div>
                        <div class="las-help-nolimit1-body">
                            <p>{{"Set your own daily or weekly limit then watch your progress while you play." |
                                translate}}</p>
                        </div>
                    </div>>
                    <div class="las-help-nolimit1-example"></div>
                </div>
            </div>
            <div class="content-tail">
                <div class="las_btnarray">
                    <button class="button_half hide-btn" @click="nolimit1backbtn()">{{"BACK" | translate}}</button>
                    <button class="button_half hide-btn" @click="nolimit1helpnextbtn()">{{"NEXT" | translate}}</button>
                </div>
            </div>
        </div>
        <div class='page app-page' v-if="page.NoLlimitHelp2">
            <div class="content-head">
                <img id='logo' />
            </div>
            <div class="content-body">
                <div id="lashelpnolimit2">
                    <div class="las-help-nolimit2-heading">
                        <p>{{"YourPlay can show you much more" | translate}}</p>
                    </div>
                    <div class="las-help-nolimit2-body">
                        <p>{{"Visit a kiosk or go to yourplay.com.au and find out" | translate}}</p>
                        <p>{{"how much you've spend over a period of weeks or even months" | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="content-tail">
                <div class="las_btnarray">
                    <button class="button_half hide-btn" @click="nolimit2backbtn()">{{"BACK" | translate}}</button>
                    <button class="button_half hide-btn" @click="nolimit2helpendbtn()">{{"END" | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/polyfill.js"></script>
    <script src="/lib/igt-media-elements/dist/igt-media-elements.js" optimized></script>
    <script src="./js/model/all_in_one.model.js"></script>
    <script src="./js/vpcDisplayData.js"></script>
    <script src="./js/vpc.skin.js"></script>
</body>

</html>