<template>
  <button class="normal" @click="close" v-show="showCloseButtonInSW">{{ 'close' | translate }}</button>
</template>
<script>
let awardData = {
  Awards: [
    {
      AwardId: 138,
      DrawingId: 14,
      AwardName: "Unnamed Award 1",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 139,
      DrawingId: 14,
      AwardName: "Unnamed Award 2",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 140,
      DrawingId: 14,
      AwardName: "Unnamed Award 3",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 141,
      DrawingId: 14,
      AwardName: "Unnamed Award 4",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 142,
      DrawingId: 14,
      AwardName: "Unnamed Award 5",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 143,
      DrawingId: 14,
      AwardName: "Unnamed Award 6",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 144,
      DrawingId: 14,
      AwardName: "Unnamed Award 7",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 145,
      DrawingId: 14,
      AwardName: "Unnamed Award 8",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 146,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 147,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 148,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 149,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 150,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 151,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 152,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 153,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 154,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 155,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 156,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 157,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 158,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 159,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 160,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 161,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 162,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 163,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 164,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    },
    {
      AwardId: 165,
      DrawingId: 14,
      AwardName: "Unnamed Award 9",
      AwardMessage: "",
      AwardDescription: "",
      ClaimedTicketId: 0,
      AwardCost: 0,
      AwardValue: 0,
      DeleteAward: false
    }
  ],
  Date: "2019-01-03T23:00:00",
  ID: 14,
  Name: "Award A",
  VipDrawingTicketsCount: 1,
  TotalTickets: 0,
  Status: "Verification",
  VerificationCountDown: 60,
  VerificationTime: 60,
  VerifiedTickets: [{
    "TicketNumber": -144,
    "TicketDescription": "FE144",
    "PlayerId": 3,
    "PlayerName": "LUCY1 LUCY2",
    "Status": "UnclaimedPrize",
    "TransactionDate": "0001-01-01T00:00:00",
    "DrawingId": 14
  },{
    "TicketNumber": -144,
    "TicketDescription": "FE144",
    "PlayerId": 3,
    "PlayerName": "LUCY1 LUCY2",
    "Status": "UnclaimedPrize",
    "TransactionDate": "0001-01-01T00:00:00",
    "DrawingId": 14
  },{
    "TicketNumber": -144,
    "TicketDescription": "FE144",
    "PlayerId": 3,
    "PlayerName": "LUCY1 LUCY2",
    "Status": "UnclaimedPrize",
    "TransactionDate": "0001-01-01T00:00:00",
    "DrawingId": 14
  },{
    "TicketNumber": -144,
    "TicketDescription": "FE144",
    "PlayerId": 3,
    "PlayerName": "LUCY1 LUCY2",
    "Status": "UnclaimedPrize",
    "TransactionDate": "0001-01-01T00:00:00",
    "DrawingId": 14
  }],
  VerificationTickets: [
    {
      TicketNumber: -144,
      TicketDescription: "FE144",
      PlayerId: 3,
      PlayerName: "LUCY1 LUCY2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -145,
      TicketDescription: "FE145",
      PlayerId: 4,
      PlayerName: "LILY1 LILY2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -146,
      TicketDescription: "FE146",
      PlayerId: 5,
      PlayerName: "~!@#$%^&*()123 ~!@#$%^&*()456",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -148,
      TicketDescription: "FE148",
      PlayerId: 7,
      PlayerName: "B1 B2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -149,
      TicketDescription: "FE149",
      PlayerId: 8,
      PlayerName: "C1 C2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -152,
      TicketDescription: "FE152",
      PlayerId: 11,
      PlayerName: "E1 E2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -153,
      TicketDescription: "FE153",
      PlayerId: 12,
      PlayerName: "F1 F2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -155,
      TicketDescription: "FE155",
      PlayerId: 14,
      PlayerName: "~!@#$%^&*()1 ~!@#$%^&*()2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    },
    {
      TicketNumber: -156,
      TicketDescription: "FE156",
      PlayerId: 15,
      PlayerName: "~!@#$%^&*()A1 ~!@#$%^&*()A2",
      Status: "UnclaimedPrize",
      TransactionDate: "0001-01-01T00:00:00",
      DrawingId: 14
    }
  ]
};
let cfgdata = {
  ShowPlayerId: true,
  ShowPlayerName: true,
  ShowTicketId: true,
  ClaimPrizeFromServiceWindow: true,
  ClaimPrizeButtonContent: "Claim Prize",
  WinningDisplayMessage:
    "Congratulations! Please see casino promotions staff to collect your prize.",
  WinnerNameFormat: 0,
  EnableSWAwardPresentation: true,
  ShowCloseButtonInSW: true,
  SWAwardPresentationTargets: 0,
  DataBrokerUri: "http://10.222.30.113:8000/v1_0/"
};
module.exports = {
  name: "notificationbar",
  data() {
    return {
      showCloseButtonInSW: true
    };
  },
  created() {
    // // just for test
    // import("./views/sse/mock-data.js").then(({ cfgdata }) => {
    //   IGTMediaElements.contentCache
    //     .setStateElement("sse_cfg", JSON.stringify(cfgdata), 0)
    //     .then(value => {});
    // });
    
    if (IGTMediaElements.isMock) {
      // "Anticipation": "awardNotification",
      // "Started": "drawingInProgress",
      // "Verification": "winningTicketList",
      // "Verified": "selectionInProgress",
      // "PrizeLinked": "winnerList",
      // "End": "drawingComplete"
      IGTMediaElements.contentCache
        .setStateElement("sse_cfg", JSON.stringify(cfgdata), 0)
        .then(value => {});
      IGTMediaElements.contentCache
        .setStateElement("Anticipation", JSON.stringify({ Name: "Award A" }), 0)
        .then(value => {});
      IGTMediaElements.contentCache
        .setStateElement("Started", JSON.stringify(awardData), 0)
        .then(value => {});
      IGTMediaElements.contentCache
        .setStateElement("Verification", JSON.stringify(awardData), 0)
        .then(value => {});
      IGTMediaElements.contentCache
        .setStateElement("Verified", JSON.stringify({ Name: "Award A" }), 0)
        .then(value => {});
      IGTMediaElements.contentCache
        .setStateElement("PrizeLinked", JSON.stringify(awardData), 0)
        .then(value => {});
      IGTMediaElements.contentCache
        .setStateElement("End", JSON.stringify({ Name: "Award A" }), 0)
        .then(value => {});
    }
  },
  mounted() {
    var self = this;
    IGTMediaElements.contentCache.getStateElement("sse_cfg").then(data => {
      self.cfgdata = JSON.parse(data);
      self.showCloseButtonInSW = self.cfgdata.ShowCloseButtonInSW;
    });
  },
  methods: {
    close() {
      // // const contentFolder = `/${CONTENT_FOLDER_NAME}/`;
      // let backURL;
      // // if (document.referrer.split(contentFolder).length > 0) {
      // //   backURL = `${location.origin}${contentFolder}`;
      // // } else {
      //   backURL = document.referrer;
      // // }
      // trace(backURL);
      // // window.location.assign(backURL);
      // navigate(backURL);
      navigate('SESSION_SCREEN');
    }
  }
};
</script>
<style >
@import "../../../style/vdm_button.css";
</style>