#jackpot {
  width: 100%;
  margin: auto;
  transform: translate(0, 3%) scale(2);
}

@media screen and (orientation:portrait) {
  #jackpot {
    width: 100%;
    margin: auto;
  }
}

@media screen and (orientation:landscape) {
  #jackpot {
    max-width: 200%;
  }
}
