.content-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.U1_H .content-body,
.U6_RH .content-body{
    flex-direction: row;
}

.horizontal .content-body{
    width:85%;
}

.U4 .content-body,
.TFT .content-body{
    width:70%;
}

.message-box-area {
    background: rgba(0, 0, 0, 0.062);
    width: 100%;
    transform: scale(0.94, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    height:100%;
}

.zerolimitMessageHeading {
    width: 100%;
    color:#ffeb73;
    text-transform: uppercase;
    font-size: 2rem;
}

.zerolimitMessageInfo {
    color: #f4e2d7;
    font-size: 1.8rem;
    width: 100%;
}

.zerolimitPlayerMessage {
    color: #f4e2d7;
    font-size: 1.8rem;
    width: 100%;
}

.horizontal .message-box-area{
	max-height: calc(var(--component-space) * 1.4);
}

.horizontal .zerolimitMessageHeading{
	font-size: 1.3rem;
}

.horizontal .zerolimitMessageInfo{
    font-size: 1.25rem;
    margin-top: 1%;
}

.vertical .zerolimitMessageInfo {
    margin-top:5%;
    word-wrap: break-word;
}

.horizontal .zerolimitPlayerMessage{
    font-size: 1.25rem;
    margin-top: 1%;
}

.vertical .zerolimitPlayerMessage {
    margin-top:5%;
    word-wrap: break-word;
}

.TFT .zerolimitMessageHeading{
	font-size: 1.1rem;
}

.TFT .zerolimitMessageInfo,
.TFT .zerolimitPlayerMessage{
	font-size: 1.0rem;
}

.continuePlay{
    font-size: 1.3rem;
    color: #f4e2d7;
    margin-top: -40%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items:center;
}

.horizontal .continuePlay{
    font-size: 1.1rem;
    margin-top:0;
}


.content-tail{
    font-size:.9rem;
    justify-content: flex-end;   
    width: var(--component-space);
    align-items:flex-end;   
}

.horizontal .content-tail {
    width: calc(var(--component-space) * 1.3) !important;
}

.tailbuttons {
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    font-size:.9rem;
}

.horizontal .tailbuttons{
    transform: translate(4%,8%);
}

.U6_H .tailbuttons{
    transform: translate(4%,4%);
}

.U4 .tailbuttons,
.TFT .tailbuttons {
    transform: translate(4%,25%);
    font-size: .6rem; 
}

.button_half {
    background-image: url('../assets/btn-half-normal.png');
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 1.25rem; 
    margin-left: 1%; 
    width: 100%;  
    height:100%;  
}

.button_half:active {
background-image: url('../assets/btn-half-active.png');
}

.button_half:disabled {
background-image: url('../assets/btn-half-disable.png');
}

.horizontal .tailbuttons .button_half {
    font-size: 0.8rem;
}

.TFT .tailbuttons .button_half{
    font-size: .6rem;
} 

.U6 .button_half{
    transform:scaleX(1.4);  
}
  
@media screen and (orientation: portrait) {
    #app>* {
        margin-bottom: unset;
    }
}

    
